.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.freeBox___3VZfv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 376px;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-f4urA9ZlgHWt);
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__kzKc4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox___1Cy6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 3px;
}
.img__kzvbw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 32.5px;
  flex-shrink: 0;
}
.img__kzvbw > picture > img {
  object-fit: cover;
}
.text__apDkh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.link__ufDr {
  position: relative;
  width: 27px;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  background: linear-gradient(#e4d408, #e4d408), #ffffff;
  color: var(--token-jgohepLVeKvh);
  flex-shrink: 0;
  padding: 8px 0px 8px 3px;
}
.freeBox__lhlDu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 3px;
}
.img__qyRso {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 32.5px;
  flex-shrink: 0;
}
.img__qyRso > picture > img {
  object-fit: cover;
}
.text___8X6Km {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.freeBox___46Lvh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img___9Edrt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 32.5px;
  flex-shrink: 0;
}
.img___9Edrt > picture > img {
  object-fit: cover;
}
.text__aUa4C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  padding-left: 3px;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.link__ny2Jl {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  color: var(--token-jgohepLVeKvh);
  background: #232433;
  margin-top: 18px;
  padding: 7px 12px;
}
.column__d0KBm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__gGFrt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__nFcIr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  padding-left: 3px;
  color: #7b7b8c;
  min-width: 0;
}
.text__p6Z9P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 21px;
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.freeBox__zuUwI {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__pLduy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  padding-left: 3px;
  color: #7b7b8c;
  min-width: 0;
}
.text__s7Qop {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 21px;
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.freeBox__fki9I {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__uxSyY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  padding-left: 3px;
  color: #7b7b8c;
  min-width: 0;
}
.text__vBiKw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 21px;
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.link__s6NzS {
  position: relative;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  font-size: 14px;
  background: var(--token--ypw6enySR1T);
  margin-top: 22px;
  padding: 7px 12px;
}
